styles
icons
app
locate
integration
gmp-clearkey
fonts
*.so
*.tar.bz2
*.ja
minidump-analyzer
zotero-bin
plugin-container
updater
glxtest
vaapitest
precomplete
*.sig
*.swp
Throbber-small.gif
zotero
zotero.desktop
set_launcher_icon
removed-files
*.list
*.ini
translators
