app
dependentlibs.list
firefox-bin.sig
firefox.sig
fonts
glxtest
gmp-clearkey
icons
integration
libfreeblpriv3.so
libipcclientcerts.so
liblgpllibs.so
libmozavcodec.so
libmozavutil.so
libmozgtk.so
libmozsandbox.so
libmozsqlite3.so
libmozwayland.so
libnspr4.so
libnss3.so
libnssckbi.so
libnssutil3.so
libplc4.so
libplds4.so
libsmime3.so
libsoftokn3.so
libssl3.so
libxul.so
libxul.so.sig
minidump-analyzer
omni.ja
platform.ini
plugin-container
plugin-container.sig
precomplete
README.md
removed-files
set_launcher_icon
Throbber-small.gif
updater
updater.ini
vaapitest
zotero
zotero-bin
zotero.desktop
zotero.sh
